body {
  background-color: rgb(215, 174, 40);
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-height: 100px;
  border-style: solid;
  border-radius: 38.5;
  background-color: rgb(47, 255, 158);
}

.navTitle {
  font-size: 25px;
  grid-column-start: 2;
  grid-row-start: 2;
}

.navLinks {
  grid-column-start: 2;
  grid-row-start: 3;
  font-size: 8px;
  background-color: rgb(182, 129, 182);
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 500px;
  height: 25px;
}

.linkHome {
  grid-column-start: 1;
  background-color: rgb(215, 174, 40);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px;
  border-style: solid;
  font-size: 8px;
}

.linkCreate {
  grid-column-start: 2;
  background-color: rgb(215, 174, 40);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px;
  border-style: solid;
  font-size: 8px;
}

.linkRules {
  grid-column-start: 3;
  background-color: rgb(215, 174, 40);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px;
  border-style: solid;
  font-size: 8px;
}

.home {
  background-color: rgb(215, 174, 40);
}

.jokes {
  border-style: solid;
  border-radius: 38.5;
  margin: 5px;
  background-color: rgb(182, 129, 182);
  display: grid;
  /* grid-template-rows: 90% 10%; */
}

.createPage {
  background-color: rgb(215, 174, 40);
}

.create {
  background-color: rgb(215, 174, 40);
}

.form {
  background-color: rgb(182, 129, 182);
}

/* .jokeInput {
  height: 400px;
}

.jokeInput {
  height: 400px;
} */

.button {
  border-radius: 38.5%;
}

.buttonPlus {
  color: green;
}

.buttonMinus {
  color: red;
}

.rules {
  background-color: rgb(215, 174, 40);
}

@media only screen and (min-width: 600px) {
  /* .navbar {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 100px;
    border-style: solid;
    border-radius: 38.5;
    background-color: rgb(47, 255, 158);
  } */

  .navTitle {
    font-size: 40px;
    /* grid-row-start: 2; */
  }

  .navLinks {
    /* grid-column-start: 2;
    grid-row-start: 2;
    font-size: 15px; */
    /* background-color: rgb(215, 174, 40); */
  }

  .jokes {
    border-style: solid;
    border-radius: 38.5;
    margin: 5px;
    background-color: rgb(182, 129, 182);
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
  }
  .jokesAndAuthor {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .votesAndButtons {
    grid-column-start: 2;

    grid-row-start: 2;
  }
}
