.App {
  text-align: center;
  background-color: rgb(215, 174, 40);
  /* font-family: "Courier New", monospace; */
}

body {
  background-color: rgb(215, 174, 40);
}

.navbar {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 100px;
  border-style: solid;

  background-color: rgb(47, 255, 158);
}

.navTitle {
  font-size: 40px;
  grid-row-start: 2;
}

.navLinks {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 20px;
  background-color: rgb(215, 174, 40);
}

.home {
  background-color: rgb(215, 174, 40);
}

.jokes {
  border-style: solid;
  margin: 5px;
  background-color: rgb(182, 129, 182);
}

.createPage {
  background-color: rgb(215, 174, 40);
}

.create {
  background-color: rgb(215, 174, 40);
}

.form {
  background-color: rgb(182, 129, 182);
}

/* .jokesAndAuthor {
  background-color: rgb(47, 255, 158);
}

.votesAndButtons {
  background-color: rgb(47, 255, 158);
} */

.button {
  border-radius: 90%;
}

.buttonPlus {
  color: green;
}

.buttonMinus {
  color: red;
}

.rules {
  background-color: rgb(215, 174, 40);
}

@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
}
