body {
  background-color: rgb(215, 174, 40);
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-height: 100px;
  border-style: solid;
  border-radius: 38.5;
  background-color: rgb(47, 255, 158);
}

.navTitle {
  font-size: 20px;
  grid-column-start: 2;
  grid-row-start: 2;
  min-width: 200px;
}

.navLinks {
  grid-column-start: 2;
  grid-row-start: 3;
  font-size: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 500px;
  max-height: 15px;
}

.linkHome {
  grid-column-start: 1;
  background-color: rgb(215, 174, 40);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px;
  border-style: solid;
  border-radius: 25px;
  font-size: 8px;
}

.linkCreate {
  grid-column-start: 2;
  background-color: rgb(215, 174, 40);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px;
  border-style: solid;
  border-radius: 25px;

  font-size: 8px;
}

.linkRules {
  grid-column-start: 3;
  background-color: rgb(215, 174, 40);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px;
  border-style: solid;
  border-radius: 25px;

  font-size: 8px;
}

.home {
  background-color: rgb(215, 174, 40);
}

.jokes {
  border-style: solid;
  border-radius: 25px;
  margin: 5px;
  background-color: rgb(182, 129, 182);
  display: grid;
}

.createPage {
  background-color: rgb(215, 174, 40);
}

.create {
  background-color: rgb(215, 174, 40);
}

.form {
  background-color: rgb(182, 129, 182);
  border-style: solid;
  border-radius: 25px;
  margin: 5px;
}

.jokeInput {
  height: 10em;
  width: 30em;
}

.authorInput {
  width: 20em;
}

.button {
  border-radius: 25px;
  background-color: white;
  margin: 5px;
}

.buttonPlus {
  color: green;
}

.buttonMinus {
  color: red;
}

.rulesMain {
  background-color: rgb(215, 174, 40);
}

.rules {
  background-color: rgb(182, 129, 182);
  border-style: solid;
  border-radius: 25px;

  margin: 5px;

  font-size: 22px;
}

@media only screen and (min-width: 600px) {
  .navTitle {
    font-size: 40px;
  }

  .jokes {
    border-style: solid;
    border-radius: 25px;
    margin: 5px;
    background-color: rgb(182, 129, 182);
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
  }
  .jokesAndAuthor {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .votesAndButtons {
    grid-column-start: 2;

    grid-row-start: 2;
  }
}

@media only screen and (max-width: 650px) {
  .navTitle {
    font-size: 30px;
  }
}
